/***** BODY *****/
body {
  padding-top: 70px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p {
  font-size: 1.1em
}
.paragraph-divider {
  margin: 30px 0
}
.quote {
  display: block;
  font-weight: 700;
  font-size: 1.3em;
  page-break-after: always;
  page-break-before: always;
  padding: 10px 15px
}
.cite-source {
  font-style: italic;
  font-size: .8em;
  color: #000
}
.contact-info {
  border: 3px solid #4B88A2;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 50px
}
.contact-line-2{
  margin-left: 70px;
  margin-top: -10px;
}
.contact-link {
  color: #000
}
.call-now {
  font-size: 1.8em
}
footer {
  padding: 30px 0;
  margin-top: 50px
}
p, h1, h2, h3, h4, span{
  color: #525557;
}


/***** NAVBAR *****/
.navbar-inverse {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  border-bottom: 10px solid #1873a1
}
.navbar-fixed-top .nav {
  padding: 15px 0;
  float: right;
  color: #525557
}
.navbar-brand {
  margin-top: 15px;
  font-size: 1.9em
}
.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
  color: #525557
}
.navbar-inverse .navbar-nav>li>a {
  color: #525557;
  font-size: 1.4em;
  font-weight: 700;
}
.navbar-toggle {
  background-color: #1873a1
}
.dropdown-menu>li>a {
  padding: 10px 20px;
  font-weight: 600;
  color: #1873a1;
}
.drop-down-border {
  margin: 0
}
.kb-logo {
  display: none;
}


/***** IMAGES/GLYPHS *****/
.wrap-image {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 10px
}
.glyph-box,
.wrap-image {
  border: 3px solid #1873a1;
}
.glyph-box {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px
}
.glyph-box:hover {
  font-size: 1.1em;
  margin-bottom: 1px;
  background-color: #8D8D8D
}
.glyphicon {
  background-color: #e0e0e0;
  color: #525557
}


/***** BUTTONS *****/
.btn-default,
.btn-primary {
  color: #fff;
  background-color: #1873a1;
  border-color: #e0e0e0
}


.btn-primary:hover{
  background-color: #23a9de;
}



/***** CAROUSEL ******/
.carousel-caption {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 2px;
  background-color: rgba(37, 38, 39, .6);
  opacity: 50%
}
.carousel-text {
  color: #252627;
  background-color: #fff;
  padding: 0
}
.item>a {
  text-decoration: none;
  color: #252627
}
#carousel-example-generic{
  margin-top: 20px;
}


/***** SOCIAL MEDIA *****/
.fb-like-div,
.g-plusone-div {
  margin-bottom: 10px
}
ul.share-buttons{
  list-style:none;
  padding:0
}
ul.share-buttons li{
  display:inline
}
row.social-media ul {
  margin:30px 0
}


/***** RESPONSIVE *****/
@media(min-width:768px){
  body{
    padding-top:100px
  }
  .navbar-fixed-top .navbar-brand {
    padding: 15px 0
  }
  .navbar-inverse .navbar-nav>li>a {
    font-size: 1.5em
  }
  .kb-logo {
    display: inherit
  }
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar- brand {
    margin-top: -15px
  }
  .kb-text,
  li.mobile-only {
    display: none
  }
}
@media(max-width:768px){
  li.dropdown{
    display:none;
  }
}

@media(max-width:1000px){
  .nav>li, .nav>li>a {
    font-size: 11px;
  } 
}
@media(min-width:980px){
  row.mobile-only{
    display:none
  }
}
@media(max-width:375px){
  .kb-text{
    font-size:1.5em
  }
}
@media(max-width:420px){
  .item>h2{
    font-size:10px
  }
}
@media(max-width:650px){
  .item>h2{
    font-size:20px
  }
}
