<footer>
  <div class="container">
    <div class="row col-md-12 directory-row">
      <div class="col-md-6">
        <h4 class="footer-directory-title text-center">Site Directory</h4>
        <ul class="list-inline footer-directory text-center">
          <li>
            <a href="/index.php">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/view/portfolio.php">Portfolio</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/view/about.php">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/view/services.php">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="/view/contact.php">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="footer-directory-title text-center">Social Media</h4>
        <ul class="list-inline footer-directory text-center">
          <li>
            <a href="https://plus.google.com/+KBSoftwareSolutionsBoyntonBeach/about">Google +</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="https://www.facebook.com/KB-Software-Solutions-1646895845554448/">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 logo-div">
        <p class="text-center">
          <a href="http://www.kbsoftwaresolutions.com"><img src="/img/kb-logo-150x75.png" alt="KB Software Solutions - providing small to medium sized businesses with affordable websites"/></a>
        </p>
      </div>
    </div>
    <div class="row text-center">
      <p class="copyright text-center text-muted">Copyright &copy; KB Software Solutions 2015. All Rights Reserved</p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55aed0f95bca4219" async="async"> 
</script>
<script src="/js/kb-js.min.js"></script>
