<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand kb-logo" href="../index.php"> 
        <img src="../img/kb-logo-wide-400x80.png" alt="KB Software Solutions Logo"> 
      </a> 
      <a class="navbar-brand topnav kb-text" href="../index.php">KB Software Solutions</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="about.php">About</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="services.php">Services<span class="caret"></span></a>
          <ul class="dropdown-menu" role ="menu">
            <li><a href="services.php#design">Design</a></li>
            <hr class="drop-down-border">
            <li><a href="services.php#maintenance">Maintenance</a></li>
            <hr class="drop-down-border">
            <li><a href="services.php#seo">SEO</a></li>
          </ul>
        </li>
        <li>
          <a href="contact.php">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>